.q1{
    background-image: url(https://rainbowit.net/html/nuron/assets/images/bg/bg-image-24.jpg);
    font-family: 'Roboto Serif', serif;
}
.nav-link{
    color: white;
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 19px;
    
}
.q2{
    width: 160px;
}
.navbar{
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid #ACACAC;
    font-family: 'Roboto Serif', serif;
}
.navbar-nav{
    margin-left: 80px;
}
.btn{
    background-color: #00A3FF;
    color: white;
}
.q3{
    padding: 20px 20px;
    background-color: #1B1B28;
    border: 1px solid #ACACAC;
}
.q4{
    width: 500px;
    padding-top: 10px;
}
.q5{
    color: white;
    font-weight: 800;
    font-size: 45px;
    margin-left: 15px;
}
.q6{
    border-bottom: 2px solid #ACACAC;
    background-color: blanchedalmond;
}
.q7{
    color: white;
    margin-top: 25px;
}
.q9{
    color: white;
    margin-left: -32px;
}
.q8{
    border-radius: 50%;
    width: 75px;
}
.q10{
    margin-left: 15px;
}
.q11{
    color: white;
    margin-top: 25px;
}